@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-net-dark: #064951; /* fondo petr칩leo */
  --color-net-teal: #00c4b3; /* turquesa principal */
  --color-net-teal-strong: #00ad9f;
  --color-net-navy: #07152b; /* azul muy oscuro para textos */
  --color-surface: #f5f7fb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

.bg-hero-net {
  /* ajusta el tono si quieres m치s claro u oscuro */
  background-color: #035965; /* tono petr칩leo m치s claro */
}

.bg-net-dark {
  background-color: var(--color-net-dark);
}

.bg-net-teal {
  background-color: var(--color-net-teal);
}

.bg-net-teal-strong {
  background-color: var(--color-net-teal-strong);
}

.text-net-teal {
  color: var(--color-net-teal);
}

.text-net-navy {
  color: var(--color-net-navy);
}

.bg-surface {
  background-color: var(--color-surface);
}